<!-- dadamaharaj/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Profile</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100vh;
    }
  </style>
</head>
<body>
  <iframe src="https://6cbf-2409-40f2-116a-be68-105e-b2a5-2f0e-7ae.ngrok-free.app/{{ username }}/" allowfullscreen></iframe>
</body>
</html>
